body {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 280px 1fr 50px;
  grid-template-columns: 10% 1fr 35%;
  grid-gap: 5px;
  height: 100vh;
  margin-left: -6px;
  background-color: black;
}
header {
  background: url(mittens.png)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: yellow 2px 0 11px;
  Text-align: left;
  font-weight: bold;
  font-size: 400%;
  grid-area: header;
  border-color: rgb(231, 75, 179);
  border-bottom-style: double;
  border-top-style: double;
  border-width: 12px;
}
nav {
  background: rgba(71, 71, 71, 0.582);
  grid-area: nav;
  text-align:center;
  text-shadow: black 2px 0 6px;
}
#nav_menu ul {
  list-style-type: none;
  padding: 1em 0;
  /*padding aabove and below li elements */
  text-align: center;
}
#nav_menu ul li a:hover {
  background-color: fuchsia;
}
h3 {
  text-shadow: yellow 2px 0 11px;
}
h4 {
  text-shadow: yellow 2px 0 11px;
}
.column1{
  font-size: 120%;
}
/* what floats in water? */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.responsive {
  max-width: 100%;
  height: auto;
}
footer {
  text-shadow: white;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  padding-bottom: 30px;
}